@{
    ViewData["Title"] = "Details";
    @model Employee
}

<h2>Employee Details</h2>
<table class="table">
    <tr>
        <th width="20%">Employee ID</th>
        <td>@Model.Id</td>
        <td rowspan="5"><img src="@Model.Image" /></td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <th>Birth Date</th>
        <td>@Model.BirthDate.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Position</th>
        <td>@Model.Position</td>
    </tr>
</table>

@Html.ActionLink("Back to List", "Index")



